* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  background-image: url(../unsplash_G7sE2S4Lab4.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 100%;
  background-color: #000061;
}
@media (max-width: 769px) {
  section {
    width: 100%;
  }
}
section nav {
  border-bottom: 1px solid white;
  padding-bottom: 25px;
}
section nav .flexcont {
  display: flex;
}
section nav .flexcont .nav-logo {
  padding-left: 100px;
  padding-top: 34px;
  padding-right: 40px;
}
@media (max-width: 769px) {
  section nav .flexcont .nav-logo {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 0px;
  }
  section nav .flexcont .nav-logo .nav-list {
    display: none;
  }
}
section nav .flexcont .nav-logo h1 {
  width: 271px;
  height: 26.7848834991px;
  top: 34px;
  left: 250px;
  color: rgb(255, 255, 255);
  width: 271px;
  height: 26.785px;
  flex-shrink: 0;
  font-size: 35px;
}
section nav .flexcont .nav-logo h2 {
  width: 84.48px;
  height: 8.697px;
  flex-shrink: 0;
  width: 271px;
  height: 26.7848834991px;
  top: 34px;
  left: 250px;
  padding-top: 11px;
  font-size: 15px;
  color: white;
}
section nav .flexcont .nav-list li {
  display: inline-block;
  font-family: Aeroport;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 44px;
  color: white;
  padding-left: 25px;
}
@media (max-width: 769px) {
  section nav .flexcont .nav-list {
    display: none;
  }
}
section nav .flexcont .nav-contact {
  text-align: left;
  padding-top: 30px;
}
section nav .flexcont .nav-contact h3 {
  color: white;
  font-family: Aeroport;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  font-family: Aeroport;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  padding-left: 47px;
}
section nav .flexcont .nav-contact h4 {
  color: var(--grayscale-white, #FFF);
  font-family: Aeroport;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  text-decoration-line: underline;
  padding-left: 61px;
  padding-top: 0;
}
@media (max-width: 769px) {
  section nav .flexcont .nav-contact {
    display: none;
  }
}
section nav .flexcont .nav-link {
  padding-top: 45px;
  padding-left: 25px;
}
section nav .flexcont .nav-link a {
  width: 226px;
  height: 50px;
  top: 32px;
  left: 1446px;
  border-radius: 15px;
  border: 1px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 12px 43px;
  background: rgb(0, 0, 222);
}
@media (max-width: 769px) {
  section nav .flexcont .nav-link {
    padding-left: 208px;
  }
}

header {
  padding-left: 1250px;
  padding-top: 20px;
}
@media (max-width: 769px) {
  header {
    padding-left: 100px;
  }
}
@media (max-width: 769px) {
  header .headerdives {
    padding-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
header h2 {
  color: var(--grayscale-white, #FFF);
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 43.88px;
}
header h3 {
  color: var(--grayscale-white, #FFF);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  color: #FFF;
  line-height: 25.6px;
}
header .bi-arrow-up-right {
  color: blue;
}
header .divfirst {
  width: 224px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 15px;
  background: rgb(0, 0, 222);
  padding-top: 22px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
}
header .divfirst .icon1 {
  top: 187px;
  left: 1632px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  left: 82%;
  top: 10px;
  padding: 5px;
}
header .div2 {
  width: 225px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 15px;
  border: white solid 1px;
  padding-top: 22px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}
header .div2 .icon1 {
  top: 187px;
  left: 1632px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  left: 82%;
  top: 10px;
  padding: 5px;
}
header .div3 {
  padding-left: 90px;
}
@media (max-width: 769px) {
  header .div3 {
    position: absolute;
    top: 25%;
    right: 36.7%;
    z-index: 2;
  }
}
header .div3 img {
  width: 75%;
}

main h2 {
  color: #060628;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 19.5px;
  padding-top: 30px;
}
@media (max-width: 769px) {
  main h2 {
    text-align: center;
  }
}
main h2 span {
  color: #0000DE;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main h3 {
  color: #060628;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 43.88px;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}
@media (max-width: 769px) {
  main h3 {
    text-align: center;
  }
}
main h3::after {
  content: "__";
  position: absolute;
  height: 0;
  color: #0000DE;
  top: 35px;
  left: -55px;
}
@media (max-width: 769px) {
  main h3::after {
    top: 0;
    left: 0;
    content: "__________________________________________";
  }
}
main .flexmain {
  display: flex;
}
@media (max-width: 769px) {
  main .flexmain {
    display: grid;
  }
}
main .div-girl {
  width: 703px;
  height: 487px;
  flex-shrink: 0;
  border-radius: 5px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
@media (max-width: 769px) {
  main .div-girl {
    padding-left: 30px;
  }
}
main h4 {
  color: #060628;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 43.88px;
  color: #060628;
  padding-bottom: 15px;
}
main h5 {
  color: #060628;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.4%;
  line-height: 28.87px;
}
main p {
  color: #060628;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main p span {
  color: #0000DE;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main .div-paragraf {
  padding-left: 60px;
  padding-top: 185px;
}
@media (max-width: 769px) {
  main .div-paragraf {
    padding-top: 30px;
  }
}
main .paragraf {
  color: #060628;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.4%;
  line-height: 30.68px;
  padding-top: 30px;
  line-height: 153.4%;
  line-height: 30.68px;
}
@media (max-width: 769px) {
  main .paragraf {
    width: 90%;
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  article {
    height: 700px;
  }
}
article h2 {
  color: #060628;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 43.88px;
  position: relative;
}
@media (max-width: 769px) {
  article h2 {
    text-align: center;
    padding-top: 20px;
  }
}
article h2::after {
  content: "__";
  position: absolute;
  height: 0;
  color: #0000DE;
  top: -15px;
  left: -55px;
}
@media (max-width: 769px) {
  article h2::after {
    display: none;
  }
}
article .flexarticle {
  display: flex;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 100px;
}
@media (max-width: 769px) {
  article .flexarticle {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 80px;
    gap: 5px;
  }
}
article .flexarticle .one {
  width: 33.33%;
  height: 580px;
  flex-shrink: 0;
  background-image: url(../Rectangle\ 937.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 769px) {
  article .flexarticle .one {
    height: 300px;
    width: 100%;
  }
}
article .flexarticle .two {
  width: 33.33%;
  height: 580px;
  flex-shrink: 0;
  background-image: url(../Rectangle\ 938.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 769px) {
  article .flexarticle .two {
    height: 300px;
    width: 100%;
  }
}
article .flexarticle .three {
  width: 33.33%;
  height: 580px;
  flex-shrink: 0;
  background-image: url(../Rectangle\ 939.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 769px) {
  article .flexarticle .three {
    height: 300px;
    width: 100%;
  }
}

footer {
  height: 542px;
  flex-shrink: 0;
  background: #000061;
}
@media (max-width: 769px) {
  footer {
    height: 950px;
  }
}
footer .flexfooter {
  display: flex;
}
@media (max-width: 769px) {
  footer .flexfooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
footer .firstul {
  padding-right: 50px;
}
@media (max-width: 769px) {
  footer .firstul {
    text-align: center;
    padding-left: 10px;
  }
}
footer .firstul li {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  line-height: 19.5px;
}
footer .firstul .li1 {
  padding-top: 102px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 15px;
}
footer .firstul .ul2 {
  padding-top: 20px;
}
footer .div2 {
  padding-top: 102px;
  padding-right: 50px;
}
@media (max-width: 769px) {
  footer .div2 {
    text-align: center;
    padding-left: 10px;
  }
}
footer .div2 li {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .div2 .li2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 29.26px;
  padding-bottom: 15px;
}
footer .div2 .li3 {
  line-height: 24.38px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 12px;
}
footer .div2 .ul3 {
  padding-top: 20px;
}
footer .div2 .li4 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 14px;
}
footer .div2 .li5 {
  color: rgba(255, 255, 255, 0.57);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 5px;
}
footer .div3 {
  padding-right: 50px;
  padding-top: 146px;
}
@media (max-width: 769px) {
  footer .div3 {
    text-align: center;
    padding-left: 10px;
    padding: 100px;
  }
}
footer .div3 .li6 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 12px;
}
footer .div3 .li7 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}
footer .div3 .li7 span {
  color: rgba(255, 255, 255, 0.57);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 10px;
}
footer .div4 {
  padding-top: 102px;
  position: relative;
}
@media (max-width: 769px) {
  footer .div4 {
    padding-top: 50px;
  }
  footer .div4 .iframe {
    padding-right: 50px;
  }
}
footer .div4 .achqiulunq {
  position: absolute;
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  top: 0;
  padding: 200px 147px 149px 180px;
}/*# sourceMappingURL=style.css.map */